<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="${ctx}/static/bootstrap/css/bootstrap.css">
    <!--include js-->
    <script src="${ctx}/static/js/jquery-1.11.1.min.js"></script>
    <script src="${ctx}/static/echarts/echarts.min.js"></script>
</head>
<body>
<div id="main" style="width: 100%;height:400px;"></div>
<%if(result.success){ %>
    ${result.data}
<%}else{%>
   <h1 style="text-align:center;color: red">${result.message}</h1>
<%}%>
</body>
</html>