body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, th, td {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover ,input:hover ,select:hover {
	outline: none;
	text-decoration: none;
}

.table {
    table-layout:fixed;
 }
 .fixed-table-header table div{
  word-break:break-all;
}
#toolbar0{
 margin-top: 30px;
}











.full-height{
	height: 100%;
}
.hidden-thead{
    display: none;
 }
/* 璁剧疆婊氬姩鏉＄殑鏍峰紡 */
::-webkit-scrollbar { 
   width: 7px;
   height: 7px;
}
   /* 婊氬姩妲� */
::-webkit-scrollbar-track { 
   -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0);
}
/* 婊氬姩鏉℃粦鍧� */
::-webkit-scrollbar-thumb { 
   border-radius: 6px;    
   background: #ddd;
 }
::-webkit-scrollbar-thumb:window-inactive {
       background: rgba(204,204,204,0);
 }

.bootstrap-table{
    padding-right: 10px;
}